<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>

	<timestamp key="timestamp" datePattern="yyyyMMddHHmm"/>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/test-${timestamp}.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd},%d{HH:mm:ss.SSS},%msg%n%rEx</pattern>
		</encoder>
	</appender>

	<logger name="SimulationLogger" level="INFO" additivity="false" class="scala.clampcore.InitiateWorkflowSimulation">
		<appender-ref ref="FILE" />
	</logger>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
